.gitignore
.classpath
.project
.settings
.factorypath
*~
*/target
/target/
*.iml
*.pyc
.idea
da-config.json
testsuite/random
testsuite/**/arquillian.properties
/common/src/main/java/org/jboss/da/common/Constants.java
nb-configuration.xml
nbactions-*.xml
