<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <servlet>
        <servlet-name>SwaggerClass</servlet-name>
        <servlet-class>io.swagger.jaxrs.config.DefaultJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>0.3.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>/testsuite/rest/v-0.3</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <module-name>reports-rest</module-name>
    <!-- SECURITY -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All Access for api docs</web-resource-name>
            <url-pattern>/doc/</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All Access for api docs</web-resource-name>
            <url-pattern>/doc/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <!-- Allow all users to access the GET endpoints -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>All Access for users on GET</web-resource-name>
            <url-pattern>/rest/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>OPTIONS</http-method>
        </web-resource-collection>
    </security-constraint>

    <!-- Allow all users to access the POST /reports endpoints -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Access to blacklist for Authorized users on GET</web-resource-name>
            <url-pattern>/rest/v-${version.reports.rest}/reports/*</url-pattern>
            <http-method>POST</http-method>
        </web-resource-collection>
    </security-constraint>

    <!-- Allow all logged users to access the other endpoints -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Authorized users Access</web-resource-name>
            <url-pattern>/rest/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>PUT</http-method>
            <http-method>TRACE</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>ApplicationRealm</realm-name>
    </login-config>

    <security-role>
        <role-name>*</role-name>
    </security-role>
    <!-- SECURITY -->

    <filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
        <init-param>
            <param-name>allowedMethods</param-name>
            <param-value>GET,POST,OPTIONS,HEAD</param-value>
        </init-param>
        <init-param>
            <param-name>allowedHeaders</param-name>
            <param-value>X-Requested-With,Content-Type,Accept,Origin,Authorization</param-value>
        </init-param>
        <init-param>
            <param-name>chainPreflight</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>${corsUrlPattern}</url-pattern>
    </filter-mapping>
</web-app>
